@font-face {
  font-family: 'Digital';
  src: local('Digital'), url(fonts/DS-DIGI.TTF) format('truetype');
}

@mixin light-top-left($thickness) {
  border: $thickness solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: gray;
  border-bottom-color: gray;
}
@mixin light-bottom-left($thickness) {
  border: $thickness solid;
  border-top-color: gray;
  border-left-color: white;
  border-right-color: gray;
  border-bottom-color: white;
}
@mixin light-top-right($thickness) {
  border: $thickness solid;
  border-top-color: white;
  border-left-color: gray;
  border-right-color: white;
  border-bottom-color: gray;
}
@mixin light-bottom-right($thickness) {
  border: $thickness solid;
  border-top-color: gray;
  border-left-color: gray;
  border-right-color: white;
  border-bottom-color: white;
}

body {
  user-select: none;
  font-family: Helvetica;
  background-color: #3b6ea5;
}
.App {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Programs {
  position: fixed;
  top: 10px;
  left: 10px;
  display: grid;
  grid-gap: 15px;
  .Program {
    width: 80px;
    img {
      padding-left: 15px;
      width: 50px;
    }
    p {
      text-align: center;
      color: white;
    }
  }
}
.Minesweeper {
  padding: 10px;
  background-color: silver;
  @include light-top-left(4px);
  display: grid;
  grid-gap: 10px;
  .NumberDisplay {
    position: relative;
    p {
      font-size: 47px;
      margin: 0;
      padding: 0;
    }
    .Foreground {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      &.One {
        padding-left: 13px;
      }
      padding-top: 1px;
      padding-left: 2px;
    }
    .Background {
      position: absolute;
      top: 0;
      left: 0;
      color: gray;
      opacity: 0.3;
      padding-top: 1px;
      padding-left: 2px;
    }
  }
  .Ticker {
    width: 80px;
    height: 48px;
    background: black;
    font-size: 40px;
    text-align: center;
    color: red;
    font-family: 'Digital';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Spacer {
    flex: 1;
    .Emoji {
      text-align: center;
      font-size: 25px;
      width: 48px;
      height: 46px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      @include light-top-left(2px);
    }
    .Emoji:active {
      @include light-bottom-right(2px);
    }
  }
}
.GameHeader {
  padding: 6px;
  @include light-bottom-right(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.GameBoard {
  width: fit-content;

  @include light-bottom-right(4px);
}
.Row {
  display: flex;
}
.Square {
  background-color: lightgray;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  @include light-top-left(4px);
}

.Square:not(.GameOver):active {
  @include light-bottom-right(4px);
}

.Selected {
  border-style: solid;
  border: 1px solid gray;
  padding: 3px;
  border-style: dotted;
}

.Explosion {
  background-color: red;
  border: 1px solid gray;
  padding: 3px;
}

.Blue {
  color: Blue;
}
.Green {
  color: Green;
}
.Red {
  color: Red;
}
.Purple {
  color: Purple;
}
.Maroon {
  color: Maroon;
}
.Turquoise {
  color: Turquoise;
}
.Black {
  color: Black;
}
.Gray {
  color: Gray;
}

p {
  font-size: 12px;
  padding: 0px 10px;
  margin: 0;
}

.Window {
  font-weight: 400;
  letter-spacing: 0.025em;
  background-color: silver;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  height: 100%;
  position: relative;
  .Header {
    height: 25px;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    color: white;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 2px solid silver;
    border-bottom: 1px solid silver;
    background: navy;
    img {
      width: 27px;
      padding-right: 5px;
    }
    .closeButton {
      color: black;
      background-color: silver;
      position: relative;
      z-index: 10;
      float: right;
      padding: 0;
      margin: 0;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include light-top-left(1px);
      &:active {
        @include light-bottom-right(1px);
      }
      img {
        width: 14px;
        padding: 0;
      }
    }
  }
  .WindowContainer {
    padding: 5px;
    background-color: silver;
  }
}

.TaskBar {
  .Bar {
    padding: 2px;
    box-shadow: inset 1px 0 white;
    background-color: silver;
    border-top: 1px solid white;
    border-bottom: 1px solid gray;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    .Divider {
      border-left: 1px solid gray;
      margin: 0px 5px;
    }

    .Start {
      @include light-top-left(2px);
      width: 45px;
      height: 14px;
      padding: 5px 11px;
    }
    .OpenPrograms {
      flex: 1;
      .Program {
        @include light-bottom-right(2px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 3px 5px;
        background-color: #e2e2e2;
        .ProgramIcon {
          height: 17px;
          padding-right: 5px;
        }
      }
    }
    .Time {
      @include light-bottom-right(2px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
